@charset "UTF-8";

/* tag */
.qd-tag {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 22px;
  line-height: 20px;
  background-color: #FFF;
  border: 1px solid #888;
  color: #888;
  padding: 0 8px;
  margin-right: 6px;
  font-size: 12px;
  border-radius: 4px;

  // 蓝色
  &.tag-blue {
    background-color: $main-blue;
    border-color: $main-blue;
    color: #FFF;
  }

  // 橙色
  &.tag-orange {
    background-color: #FFAC33;
    border-color: #FFAC33;
    color: #FFF;
  }

  // 灰色
  &.tag-gray {
    background-color: #888;
    border-color: #888;
    color: #FFF;
  }
  
}
