@font-face {
  font-family: 'iconfont';
  src: url('qd-iconfont.eot'); 
  src: local('☺'), 
  url('qd-iconfont.woff2') format('woff2'),
  url('qd-iconfont.woff') format('woff'); 
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuandianxiao:before {
  content: "\e82f";
}

.icon-gantanhao:before {
  content: "\e60e";
}

.icon-guanbi:before {
  content: "\e6b5";
}

.icon-iconfont-shanchu:before {
  content: "\e636";
}

.icon-arrow-down-solid:before {
  content: "\e671";
}

.icon-arrow-up-solid:before {
  content: "\e672";
}

.icon-finish:before {
  content: "\e659";
}

.icon-tishi:before {
  content: "\e78f";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-search:before {
  content: "\e630";
}

.icon-clock-circle:before {
  content: "\e759";
}

.icon-heck-circle:before {
  content: "\e75a";
}

.icon-exclamation-circle:before {
  content: "\e75d";
}

.icon-down:before {
  content: "\e76a";
}

.icon-dropdown:before {
  content: "\e76b";
}

.icon-left:before {
  content: "\e76e";
}

.icon-right:before {
  content: "\e779";
}

.icon-up:before {
  content: "\e77b";
}

.icon-caidan:before {
  content: "\e65c";
}

.icon-daochu:before {
  content: "\e65d";
}

.icon-arrow-:before {
  content: "\e628";
}

.icon-tuichu:before {
  content: "\e612";
}